*.json
!pixels and uv stuff/starts/*.json
!pixels and uv stuff/outputs/.gitkeep
pixels and uv stuff/outputs/OBJ files/*
!pixels and uv stuff/outputs/OBJ files/.gitkeep
pixels and uv stuff/outputs/*.png
**/__pycache__/
