*.json
*.bin
*.obj
*.OBJ
!starts/*.json
!outputs/.gitkeep
outputs/OBJ files/*
outputs/OBJ files/.gitkeep
outputs/*.png
**/__pycache__/**
obj files/**
obj files/*
!obj files/.gitkeep
obj textures/**
obj textures/*
!obj textures/.gitkeep
#
outputs/geometry_files/*
!outputs/geometry_files/.gitkeep


/__pycache__
__pycache__
**venv**
venv
venv2
venv-test
