*.json
!pixels and uv stuff/starts/*.json
!pixels and uv stuff/outputs/.gitkeep
pixels and uv stuff/outputs/OBJ files/*
!pixels and uv stuff/outputs/OBJ files/.gitkeep
pixels and uv stuff/outputs/*.png
**/__pycache__/**
./pixels and uv stuff/obj files/**
./pixels and uv stuff/obj files/*
#
pixels and uv stuff/outputs/geometry_files/*
!pixels and uv stuff/outputs/geometry_files/.gitkeep

pixels and uv stuff/obj files/**
!pixels and uv stuff/obj files/.gitkeep

**venv**
venv
venv2
venv-test
